header {
    background: #000375;
    color: white;
}

footer {
    background: blueviolet;
}

.projects {
    background: cornsilk;
}

.project-card {
    background: darksalmon;
    height: 200px;
    width: 200px;
}